.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .carousel-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 2rem 2rem;
    touch-action: none; /*pan-x */
    width: 100%;
  }
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Плавный переход при изменении индекса */
    width: 100%;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Каждый элемент занимает 100% ширины обертки */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-content {
    border: none;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  
  .carousel-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
  }
  
  /* .carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .carousel-button:active {
    background-color: rgba(255, 255, 255, 0.1);
  } */
  
  .carousel-button.prev {
    left: 0;
    height: 100%;
    width: 10rem;
    border-radius: 0 50% 50% 0;
    user-select: none;
  }
  
  .carousel-button.next {
    right: 0;
    height: 100%;
    width: 10rem;
    border-radius: 50% 0 0 50%;
    user-select: none;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .indicator {
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color:rgba(63, 161, 251, 1);
  }
  