.button {
    position: relative;
    border-radius: 2em;
    /* border: 4px solid transparent;
    border-color: #66b2ca; */
    margin: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Exo 2", sans-serif; /* Используем тот же шрифт */
    /* background: linear-gradient(
      142deg,
      rgba(252, 70, 168, 1) 0%,
      rgba(63, 161, 251, 1) 100%
    ); */
    background: #181818;
    color: #181818; /* Цвет текста аналогичный заголовку */
    cursor: pointer;
    transition: all 0.25s ease; /* Плавные переходы */
    overflow: hidden;
    position: relative;
    width: 30rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .button:hover {
    background: #66b2ca; /* Основной цвет акцента */
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .button:focus,
  .button:focus-visible {
    background: #66b2ca; /* Основной цвет акцента */
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  
  .button:active {
    /* width: 9.5rem;
    height: 4.5rem; */
    background: #66b2ca; /* Оставляем базовый цвет */
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .cardContent{
    display: flex;
    justify-content: center;
    padding: 1rem;
    place-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .cardLogo{
    width: 10rem; 
    height: 10rem; 
    bottom: -50%; 
    left: 0%; 
    transform: translate(0%, 50%);
  }
  .cardImage{
    padding: 1rem;
    /* bottom: -40%; 
    left: 0%;  */
    /* transform: translate(0%, 20%); */
  }
  .cardDetails {
    text-align: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem;
  }
  .cardTitle {
    font-size: 1.5em;
    margin: 0.5rem 0;
  }
  
  .cardDescription {
    font-size: 0.7em;
    margin: 0.5rem 0;
  }
  
  .cardPrice {
    font-size: 1em;
    margin: 0.5rem 0;
  }
  
  .cardRating {
    font-size: 0.3em;
    margin: 0.5rem 0;
  }